/* ---------------------------- */
/* ----------- ROOT ----------- */
/* ---------------------------- */

:root {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    --menu_transition_time: 0.5s;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.day {
    color: black;
    --menu_color: rgba(0, 0, 0, 0.9);
    --menu_separator_color: rgb(201, 201, 201);
    --main_separator_color: rgb(201, 201, 201);
    --rules_url: "../img/rules-day.svg";
    --theme_1: #E88d67;
    --theme_2: #BB999C;
    --theme_3: #9999C3;
    --theme_4: #7B8CDE;
    --theme_5: #C0E6DE;
}

.night {
    background-color: rgb(70, 70, 70);
    color: rgb(158, 158, 158);
    --menu_separator_color: rgb(201, 201, 201);
    --main_separator_color: rgb(201, 201, 201);
    --rules_url: "../img/rules-night.svg";
    --theme_1: #E88d67;
    --theme_2: #BB999C;
    --theme_3: #2b2b33;
    --theme_4: #262a41;
    --theme_5: #C0E6DE;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
}