/* ---------------------------- */
/* -------- FOOTER BAR -------- */
/* ---------------------------- */

#footer-bar {
    background-color: var(--theme_3);
    opacity: 1;
    bottom: 0;
}

#footer-logo-section {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-logo {
    display: block;
    width: 100%;
    max-width: 18rem;
    padding: 5% 10%;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-logo:hover {
    text-decoration: none;
    box-shadow: 0 0.01rem 0.3rem var(--logo_box_shadow) inset;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.7);
}

.footer-text {
    color: var(--text_color);
    padding-top: 1rem;
}

.footer-list {
    list-style: none;
    padding: 0;
    overflow-wrap: unset;
}

.footer-list a {
    color: var(--theme_5);
    color: navy;
    text-decoration: none;
}

.footer-list a:hover {
    padding-left: 0.2rem;
}

.footer-list a:hover {
    padding-left: 0.2rem;
}

.footer-list a:hover {
    padding-left: 0.2rem;
}

.footer-list li:hover img {
    margin: 0.4rem 1rem 0.4rem 0;
}

.footer-list img {
    height: 1.5rem;
    margin: 0.4rem 1.5rem 0.4rem 0;
    filter: invert(0.4) sepia(1) hue-rotate(124deg) saturate(60%) contrast(100) brightness(0.8);
}

.copyright {
    color: var(--copyright);
    text-align: center;
    margin-bottom: 0.5rem;
}

/* -------- Media Querries --------- */

@media (min-width: 576px) {}

@media (min-width: 768px) {
    #footer-logo-section {
        justify-content: flex-start;
        padding-top: 0;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}