/* ---------------------------- */
/* -------- HEADER BAR -------- */
/* ---------------------------- */

#header-bar {
    background-color: var(--theme_3);
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

#header-logo {
    height: 5rem;
    width: 16rem;
    max-width: calc(100% - 140px);
    padding: 0rem 1rem;
    box-shadow: 0 0.01rem 0.2rem var(--logo_box_shadow) inset;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 30;
}

body.day #header-logo,
body.day #footer-logo {
    background-image: linear-gradient(to bottom, rgb(241, 189, 167), rgb(230, 118, 70), rgb(212, 77, 18));
    background-image: linear-gradient(to bottom, rgb(255, 255, 226), rgb(230, 118, 70), rgb(212, 77, 18));
}

body.night #header-logo,
body.night #footer-logo {
    background-image: linear-gradient(to bottom, #41414166, #41414166, #41414166), linear-gradient(to bottom, rgb(241, 189, 167), rgb(230, 118, 70), rgb(212, 77, 18));
    background-image: linear-gradient(to bottom, rgb(177, 129, 115), rgb(173, 107, 81), rgb(129, 66, 41));
}

#header-logo:hover {
    transition-duration: 0s;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0);
}

.header-logo-text,
.footer-logo-text {
    display: block;
    color: var(--logo_text_color);
    margin: 0;
}

.mind {
    font-family: "Matura MT Script Capitals";
}

.it {
    font-family: "Lucida Sans";
}

#header-bar a {
    text-decoration: none;
}

#header-bar ul {
    height: 4rem;
    padding: 0 0 0 1rem;
    margin: 0;
    overflow: hidden;
    float: right;
    transition-duration: var(--menu_transition_time);
}

.wide-screen {
    display: none !important;
}

#header-bar li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.header-link {
    font-weight: bold;
    font-size: 1.1rem;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    color: var(--theme_5);
    padding: 0 1rem;
    margin: 0;
}

.header-link-up:hover {
    color: var(--header-link-up-hover-color);
}

.header-link-down:hover {
    color: var(--header-link-down-hover-color);
}

#menu-toggle * {
    cursor: pointer;
}

#menu-close {
    transition-duration: 0.2s;
    display: none;
}

#toggle-mode-container {
    margin: 0;
    position: relative;
}

#toggle-mode-text {
    font-size: 0.6rem;
    width: 4rem;
    text-align: center;
    position: absolute;
    font-style: italic;
    top: 1.5rem;
    color: var(--theme_5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#toggle-mode {
    display: block;
    cursor: pointer;
    height: 1rem;
    margin: 0 0 0 0;
    padding: 0;
    border-radius: 0.5rem;
    width: 4rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 0.1rem rgba(255, 255, 255, 0.1);
    box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.5) inset;
}

#toggle-mode-circle {
    line-height: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--toggle-mode-circle-color);
    box-shadow: 0 0 0.5rem var(--toggle-mode-circle-shadow) inset;
    margin-top: -0.6rem;
    transform: translate(-0.1rem, 0);
    transform: var(--toggle-mode-circle-pos);
    transition-duration: 0.5s;
}

body.night #toggle-mode-circle {
    animation: moveRight var(--mode-transition-time) forwards;
}

body.day #toggle-mode-circle {
    animation: moveLeft var(--mode-transition-time) forwards;
}

@keyframes moveRight {
    from {
        transform: translate(-0.1rem, 0);
    }

    to {
        transforn: translate(1.9rem, 0);
    }
}

@keyframes moveLeft {
    from {
        transforn: translate(1.9rem, 0);
    }

    to {
        transform: translate(-0.1rem, 0);
    }
}

#toggle-mode:hover #toggle-mode-circle {
    background-color: var(--header-link-down-hover-color);
    box-shadow: 0 0 0.5rem var(--toggle-mode-circle-shadow) inset, 0 0 0.8rem var(--toggle-mode-circle-shadow-hover);
}

/* -------- Media Querries --------- */

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .wide-screen {
        display: inline-block !important;
    }
}

@media (min-width: 1200px) {}