/* ---------------------------- */
/* ------- MAIN WRAPPER ------- */
/* ---------------------------- */

#main-wrapper {
    margin-top: 5.5rem;
}

.main-separator {
    border-top: 1px solid var(--main-separator-color);
    margin: 0.5rem 0;
    height: 0.1rem;
}